body {
	font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.inner-wrapper {
	padding: 20px 12px 30px 12px;
}

/****************ICONS**************/

/****************MAIN HEADER**************/
.main-header {
	background: #a50000;
	position: relative;
	height: 50px;
}

.main-header .logo a {
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	line-height: 50px;
	margin-right: 20px;
}

.main-header ul {
	line-height: 50px;
}

.normal-menu a {
	color: rgba(255,255,255,.7);
	padding: 20px;
}

.normal-menu .right a {
	font-weight: bold;
	font-size: 20px; 
	background: #a50000;
	padding: 10px 20px;
}

nav {
	overflow: hidden;
}

nav a {
	color:#999;
	text-decoration: none;
	font-size: 13px;
}

.second-nav li a {
	padding: 10px;
}

.second-nav {
	margin-bottom: 20px;
}

.main-header .active a {
	color: #fff;
}

.main-header li a:hover {
	color: #fff;
	background-color: rgba(255,255,255,.1);
}

form input {
	border: none;
	border-radius: 3px;
	font-size: 13px;
	padding: 5px 8px;
	outline:none;
	margin-right: 10px;
	position: relative;
	bottom: 2px;
}

/*************MAIN CONTENT****************/

.list-group figure {
	opacity: 1;
	margin: 0;
	position: relative;
	min-width: 180px;
	height: 230px;
	overflow: hidden;
	border: 8px solid #fff;
	background: #fff;
}

.list-group figure img {
	max-width: 100%;
	background: transparent;
	-webkit-transition:all 1.5s;
  -moz-transition:all 1.5s;
  -o-transition:all 1.5s;
  -ms-transition:all 1.5s;
  transition:all 1.5s;
}

.list-group figure:hover img {
	opacity: 0.1;
}

.main-content {
	background: #f0f0f0;
}

.main-content nav li {
	display: inline;
}

.main-content nav a {
	font-size: 15px;
}

.main-content nav ul {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-top: 40px;
}

.main-content .active a {
	color: #444;
	padding-left: 0;
}

.list-group {
	overflow: hidden;
	text-align: center;
}

.list-group li {
	display: inline-block;
	vertical-align: top;
	margin-right: 1%;
	min-width: 175px;
	width: 200px;
}

.list-group .icons {
	color: #aaa;
	font-size: 13px;
	text-align: right;
	padding: 5px 5px 0 5px;
}

.list-group .icons a, .list-group .icons i {
	color: #aaa;
	padding-left: 3px;
}

.list-group i:hover {
	color: #777;
	cursor: pointer;
}

.list-group .name {
	width: 200px;
	height: 50px;
}

.list-group .name a {
	text-decoration: none;
	color: #333;
	display: block;
	font-size: 14px;
	padding: 5px;
}

.list-group .name img {
	border-radius: 50%;
	position: relative;
	top: 5px;
	right: 5px;
}

figcaption {
	position: relative;
}

.show-text {
	font-size: 12px;
	position: absolute;
	top: 0;
	opacity: 0;
	left: 20px;
	cursor: pointer;
	padding-right: 15px;
	display: block;
	overflow: hidden;
	max-height: 125px;
	margin-top: 10px;

   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
   -o-transition:all .2s ease-in;
   -ms-transition:all .2s ease-in;
   transition:all .2s ease-in;
}

.show-text p {
	color: #777;
	line-height: 1.2em;
}

.show-text h3 {
	color: #444;
}

figure:hover .show-text {
	opacity: 1;
}

.button {
	clear: both;
	text-align: center;
	padding-bottom: 20px;
}

.button a {
	text-decoration: none;
	color: #666;
	background: #d3d3d3;
	padding: 10px;
	display: inline-block;
	border-radius: 6px;
	opacity: 0.8;
}

.button:hover a{
	opacity: 1;
}

/******************FOOTER**************/

footer {
	border-top: 1px solid #ddd;
	padding: 20px 0;
	text-align: center;
}

footer a {
	font-size: 14px;
	color: #333;
	text-decoration: none;
}

footer .heading {
	color: #a50000;
	font-size: 12px;
	font-weight: 700;
}

/*********DETAIL**************/

.header-content {
	overflow: hidden; /*clearfix*/
	margin: 40px 0;
}

.header-content .avatar img {
	margin-right: 10px;
}

.text h2 {
	font-size: 40px;
}

.big-picture {
	clear: both;
	background: #fff;
	margin-bottom: 40px;
	width: 30%;
	height: auto;
	border: 8px solid #fff;
}

.big-picture img {
	width: 100%;
}

.big-picture figcaption {
	padding-top: 5px;
}

.big-picture figcaption i {
	padding-right: 10px;
}

aside {
	width: 40%;
	margin-left: 40px;
}

aside .tags {
	width: 100%;
	margin-bottom: 50px;
}

aside .icon-section i {
	display: block;
	border-bottom: 1px solid rgba(153, 153, 153, .6);
	padding: 10px;
	margin-left: 40px;
}

figcaption .icon-section {
	text-align: center;
}

aside .tags li{
	padding: 10px 0;
	border-bottom: 1px solid rgba(153, 153, 153, .2);
}

.tags a {
	color: #a50000;
}

.description p {
	color: #555;
	line-height: 1.5em;
	margin:20px 0 30px 0;
}

.comments {
	clear: both;
}

.comments article {
	margin: 50px 0;
}

.comments .avatar img {
	margin-right: 10px;
}

.comments p, .comments time {
	padding-left: 40px;
}

.comments p {
	color: #555;
	line-height: 1.4em;
	font-size: 14px;
}

.comments h4 {
	margin-bottom: 10px;
}


/*********NEW BOOK FORM*******/

.new_book {
	width: 60%;
	margin: 2em auto;
	background: #EBEBEB;
	padding: 2em;
	border-radius: 5px;
	max-width: 700px;
}

.new_book input {
	display: block;
	width: 100%;
	padding:1em;
	border-radius: 5px;
	outline: none;
	background: #fff;
	margin-top: 1em;
	font-size: 12px;
	color: #333;
	font-weight: 300;
}

.new_book input[type="submit"] {
	background:#A30000;
	color: #fff;
	text-transform: uppercase;
}

.new_book input[type="submit"]:hover {
	opacity: .8;
}

/*********MEDIA QUERIES*******/

@media all and (max-width: 570px) {
	.wrapper {
		width: 100%;
		padding: 0 1em;
	}

	.show-text {
		display: none;
	}

	.drop-bar i {
		display: none;
	}

	.main-header li.active {
		display: none;
	}

	.normal-menu .right a {
		padding: 10px;
	}

	.normal-menu form {
		margin-right: 0;
	}

	.show-text {
		text-align: left;
	}

	.show-text h3 {
		text-align: left;
	}

	.list-group {
		text-align: center;
	}

	.big-picture {
		display: block;
		width: 50%;
	}

	aside.left {
		display: block;
		width: 100%;
		margin-left: 0;
	}

	.new_book {
		width: 90%;
	}
}

@media all and (max-width: 620px) {
	.wrapper {
		width: 100%;
		padding: 0 1em;
	}
	.big-picture figcaption {
		font-size: 14px;
	}

	.big-picture figcaption i {
		padding-right: 5px;
	}

	.list-group {
		text-align: center;
	}

	.main-header {
		height: auto;
	}

	.figure:hover .show-text {
		display: none;
	}

	.big-picture figcaption i {
		padding-right: 5px;
	}
}


@media all and (max-width: 800px) {
	.wrapper {
		width: 100%;
		padding: 0 1em;
	}

	.list-group li:hover {
		color: transparent;
	}

	figure:hover img {
		opacity: 1;
	}

	.list-group figure:hover img{
		opacity: 1;
	}

	.big-picture figcaption {
		font-size: 14px;
	}
}


/***********GENERAL**********/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

figure {
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

p, h1, h2, h3, h4, h5, h6, figure, ul, ol{
	margin: 0;
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bold {
	font-weight: 700;
}

.medium-heading {
	font-size: 24px;
	font-weight: 100;
}

.sm {
	width: 20px;
	height: 20px;
}

.n {
	width: 30px;
	height: 30px;
}

.l {
	width: 50px;
	height: 50px;
}

.sm-text {
	font-size: 13px;
	font-weight: 100;
}

.n-text-light {
	font-style: 15px;
}

.light {
	font-weight: 300;
}

.xl-text {
	font-size: 18px;
}

.emphasis {
	color: #a50000;
	font-weight: 600;
}

.rounded {
	border-radius: 50%;
}

.gray {
	color: #999;
}

.red {
	color:#a50000;
}

h1 {
	font-size: 38px;
	font-weight: 300;
	text-align: center;
	margin: 1em 0;
}

h6 {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}